#singleproductpage-singleproduct {
    display: flex;
    padding: 50px 160px;
    flex-direction: row;
    align-items: center;
    gap: 120px;
}

#quantity {
    display: flex;
    margin-top: 70px;
    margin-bottom: 30px;
    justify-content: space-between;
    width: 65%;
}

#image-singleproduct {
    max-height: 400px;
    max-width: 340px;

}

#button-productpage {
    width: 100%
}

.links {
    margin-top: 160px;
    margin-left: 145px;
}

.productpagelink {
    color: #D7A324
}

#quantityinput {
    width: 40%;
}

@media screen and (max-width:1100px) {
    #productinformations-singleproduct {
        margin-top: 0px;
    }
}

@media screen and (max-width:1100px) {
    #singleproductpage-singleproduct {
        flex-direction: column;
    }

    #productinformations-singleproduct {
        margin-left: 0px;
        width: auto;
        max-width: 340px;
    }
}