.OrderSection{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.Orders{
    overflow-x: auto;
    max-height: 600px;
    min-width: 52vw;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(105, 104, 104, 0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 11px #000000 
}