* {
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
}

/* Sign up page */
.main-signup {
    background-color: #A1C1AA;
    width: 100vw;
    height: 100vh;
}

.container-signup {
    background-color: white;
    position: absolute;
    width: 750px;
    height: 650px;
    left: calc(50% - 750px/2);
    top: calc(50% - 650px/2 + 28px);
    border-radius: 50px;
}