.cart-product {
    border-bottom: 1px solid #DADADA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 220px;
    min-width: 53px;
}

.cart-product-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 350px;
}


#cart-product-image {
    height: 200px;
    width: 200px;
}

.cart-delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}