.product {
    border-bottom: 1px solid #DADADA;
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
    max-height: 220px;
}


#product-image {
    height: 200px;
    width: 200px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}