.product {
    display: flex;
    flex-direction: column;
}

.product-img>img {
    height: 265px;
    width: 250px;
    border: 2px #F3F3F3 solid;
    object-fit: contain;  
}

.product-details {
    display: flex;
    flex-direction: column;
}