.profile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    min-width: 210px;
}

.profile-menu>span {
    max-width: 200px;
}

#profile-icon {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    object-fit: cover;
}