.cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    padding: 135px 160px;
}

.cart-content {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    gap: 30px;
    transition: all .5s ease-in;
}

@media only screen and (max-width: 1000px) {

    .cart {
        flex-direction: column;
        gap: 50px;
    }
}