.cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    padding: 135px 160px;
    transition: 3s;
}

.cart-content{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    gap: 30px;
}

@media only screen and (max-width: 1000px) {

    .cart {
        flex-direction: column;
        gap: 50px;
    }
    .payment-informations{
        max-width: 1000px;
    }
}