.EditUsersPage {
    min-width: 52vw;
}

.EditUsers-bloco {
    height: 300px;
    min-width: 880px;
}

.EditUsers-header {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    max-height: 65px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.13);
    align-items: center;
    min-width: 880px;
    text-align: center;
}

.EditUsers-info {
    width: 150px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.EditUsers-findusers {
    min-width: 200px;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Cor de fundo com transparência */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9000;
    overflow-y: auto;
    /* Z-index alto para se sobrepor ao restante da página */
}