.Informations{
    max-width: 600px;
    min-width: 322px;
    width: 100%;
}

.InformationsFields{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 40%;
    margin-top: 10px
}
