
.Informations{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.InformationsFields{
    display: flex;
    flex-direction: column;
    min-width: 322px;
    width: 50%;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 40%;
    margin-top: 10px
}
