* {
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
}

body {
    background-image: linear-gradient(180deg, #D6A324 32.81%, #5F9CA4 43.23%, #609CA3 61.46%, #446CAC 76.04%, #456DAC 100%);
}

.page {
    min-height: 2520px;
    padding: 0 160px;
    font-size: 24px;
    line-height: 46px;
}

.item1 {
    width: 100%;
    min-width: 620px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 140px;
}

.welcome-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.welcome-text {
    font-size: 64px;
    line-height: 80px;
}

.image1-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image1-box>img {
    height: 680px;
    width: 575px;
    position: absolute;
}

#welcome-margins {
    height: 720px;
    width: 615px;
}

#welcome-margin-top {
    background: #70251852;
    height: 680px;
    width: 575px;
    position: absolute;
}

#welcome-margin-bottom {
    background: #70251852;
    height: 680px;
    width: 575px;
    position: absolute;
    margin-top: 40px;
    margin-left: 40px;
}

.explore-item {
    margin: 80px 0;
    font-size: 36px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.explore-item img {
    width: 40px;
    height: 10px;
}

.explore-image-box {
    width: 640px;
    height: 407px;
    display: flex;
}

.explore-image-box img {
    position: absolute;
}

.item2 {
    margin: 100px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 140px;
}

#item2-margin {
    background: rgba(165, 159, 93, 0.58);
    position: relative;
    width: 640px;
    height: 407px;
    bottom: 20px;
    right: 20px;
    z-index: -9999;
}

span img {
    width: 40px;
    height: 10px;
    margin-left: 20px;
}


.item3 {
    margin: 300px 0 80px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 140px;
}


#item3-margin {
    background: rgba(39, 38, 64, 0.4);
    position: relative;
    width: 640px;
    height: 407px;
    bottom: 20px;
    left: 20px;
    z-index: -9999;
}

@media only screen and (max-width: 1340px) {

    .item1,
    .item2,
    .item3 {
        flex-direction: column;
        gap: 50px;
    }

    .item3 {
        margin-top: 100px;
    }
}