#singleproductpage {
    display: flex;
    padding: 50px 160px;
    margin: 0;
    flex-direction: row;
    align-items: center;
    gap: 120px;
}

#productinfo {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    min-width: 400px;
}

.price {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.price-field {
    width: 40%;
}


#image-singleproduct {
    max-height: 400px;
    max-width: 340px;

}

#button-productpage {
    width: 100%
}

.links {
    margin-top: 160px;
    margin-left: 145px;
}

.productpagelink {
    color: #D7A324
}

.editproductname {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#addvector {
    height: 20px;
    margin-top: 4px;
}

#productinformations{
    min-width: 418px;
}

.yellowname-editproducts{
    height: 80px;
}

@media screen and (max-width:1100px) {
    #productinformations {
        margin-top: 0px;
    }
}

@media screen and (max-width:1100px) {
    #singleproductpage {
        flex-direction: column;
    }

    #productinformations {
        margin-left: 0px;
        width: auto;
        max-width: 340px;
    }


}