.products {
    background-color: white;
    height: 100vh;
    padding: 135px 160px 180px;
}

.products-components {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
    margin: 50px 0 0 0;
}