.User-user {
    display: flex;
    gap: 60px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    box-sizing: border-box;
}

.User-info {
    min-width: 100px;
    max-width: 100px;
}