.profile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    min-width: 210px;
}

#profile-icon {
    width: 210px;
    height: 225px;
    border-radius: 50%;
}