.meio-thanks {
    background-color: rgba(217, 217, 217, 0.3);
    height: 350px;
    width: 794px;
    border-radius: 102px;
    margin: 0px auto;
    margin-top: 140px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.text-tks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.tks {
    font-family: Plus Jakarta Sans;
    font-size: 40px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: 0px;
    text-align: center;
    height: 82px;
    width: 645px;
    left: 432px;
    top: 420px;
    border-radius: nullpx;
    transition: 1s;
}

.vangogh-tks {
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 3px;
    text-align: center;
    height: 31px;
    width: 266px;
    border-radius: nullpx;
    transition: 1s;
}

.button-thanks {
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    transition: 1s;
}

.button-thanks2 {
    display: none;
    margin: 0 auto;
    margin-top: 30px;
    transition: 1s;
}

@media screen and (max-width:794px) {
    .meio-thanks {
        width: auto;
    }
}

@media screen and (max-width:600px) {
    .tks {
        font-size: 24px;
    }

    .vangogh-tks {
        font-size: 14px;
    }

    .button-thanks {
        display: none;
    }

    .button-thanks2 {
        display: block;
        width: 35%;
        margin-top: 15px;
    }

    .meio-thanks {
        height: 264px;
        border-radius: 80px;
    }
}