a {
    text-decoration: none;
}

.links-navbar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.links-navbar>a {
    padding: 15px;
}

.title-navbar {
    width: 220px;
}