.meio {
    background-color: #FFFFFF;
    width: 700px;
    margin: 120px auto;
    border-radius: 50px;
    border: none;
    padding: 60px 110px;
    box-sizing: border-box;
}

.signup {
    margin-bottom: 30px;
    font-size: 24px;
}

.inputs-signup {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 780px) {
    .meio {
        width: auto;
        margin-left: 40px;
        margin-right: 40px;

    }
}