
.meio {
    background-color: #FFFFFF;
    width: 600px;
    margin: 60px auto;
    border-radius: 50px;
    border:none;
    padding: 60px 110px;
    box-sizing: border-box;
}
.signup{
    margin-bottom: 30px;
    font-size: 24px;
}



@media screen and (max-width: 600px) {

    .meio{
        width:auto;
    }
    
    }
    
